.DS_Store
/node
.env
.env.*
!.env.example
yarn-error.log
package-lock.json
.gitsigners
/.vscode
*.swp
*.swo
node_modules
dist
coverage
docs

# yarn zero install
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
